<article itemscope itemtype="https://schema.org/BlogPosting">
    <meta itemprop="wordCount" content="<%= symbolsCount(item) %>" />
    <header>
        <h1 itemprop="name"><%- item.title %></h1>
        <div class="metadata">
            <p>
                Published <time itemprop="datePublished" datetime="<%- item.date.format() %>"><%= item.date.format('dddd, MMMM Do, YYYY hh:mm zz') %></time>.
            </p>
            <p>
                Estimated read time: <%- symbolsTime(item) %>
            </p>
        </div>
    </header>

    <section class="body" itemprop="articleBody">
        <%- item.content %>
    </section>
    

    <hr />
    <%- partial('article-tags', { item: item }) %>
    <%- partial('article-categories', { item: item }) %>
</article>