<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partials/head') %>

<%
  let schema = page.schema || "http://schema.org/WebPage"
%>
<body itemscope itemtype="<%= schema %>"">
<%- partial('_partials/header') %>
  <main>
    <div class="left-sidebar">
      
    </div>
    <div class="content">
      <%- body %>
    </div>

    <div class="right-sidebar">
      
    </div>
  </main>
</body>
</html>
