<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partials/head') %>

<%
  let schema = page.schema || "http://schema.org/WebPage"
%>
<body itemscope itemtype="<%= schema %>"">
<div class="main-body">
<div class="left-sidebar"></div>
<div class="content">
  <%- partial('_partials/header') %>
  <main>
      <%- body %>
  </main>
  <%- partial('_partials/footer') %>
</div>
<div class="right-sidebar"></div>
</div>
</body>
</html>
